<!-- about.component.html -->
<mat-card class="about-card">
  <mat-card-title>Célunk</mat-card-title>
  <mat-card-content>
    <p>
      Célunk, hogy megkönnyítsük az emberek életét azzal, hogy megbízható és tapasztalt szakembereket kötünk össze ügyfeleinkkel.
      Hiszünk abban, hogy mindenki megérdemli a minőségi szolgáltatásokat korrekt áron – platformunkon keresztül mindenki megtalálhatja a számára megfelelő szakembert, a szakemberek pedig új megrendelésekhez juthatnak.
      Így mindenki jól jár: a felhasználók gyorsan, egyszerűen juthatnak segítséghez, a szakemberek pedig bővíthetik ügyfélkörüket.
    </p>
  </mat-card-content>
</mat-card>
