.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 32px 12px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form-card {
  margin-bottom: 16px;
}

.full-width {
  width: 100%;
}

.item-card {
  margin-bottom: 16px;
}

.spacer {
  height: 12px;
}

.price {
  float: right;
  font-weight: 600;
  color: #a4752b;
}

.offers-list {
  margin-top: 10px;
  margin-bottom: 8px;
  .offer-title { font-weight: 600; }
}
.no-offer {
  font-style: italic;
  color: #9c9589;
}
